on: [push, pull_request]
name: CI
jobs:
  # windows-test:
  #   strategy:
  #     matrix:
  #       go-version: [1.17.x, 1.19.x, 1.20.x]
  #       os: [windows-latest]
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: actions/setup-go@v3
  #       with:
  #         go-version: ${{ matrix.go-version }}
  #     - uses: actions/checkout@v3

  #     - name: Run tests
  #       run: go test -vet=off ./...

  posix-test:
    strategy:
      matrix:
        go-version: [1.17.x, 1.19.x, 1.20.x]
        os: [ubuntu-latest, macos-latest] # windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build -v ./...

      - name: Run go vet
        run: go vet ./...

      - name: staticcheck
        run: |
          if [[ ${{ matrix.go-version }} =~ ^1.19 ]]; then
            go install honnef.co/go/tools/cmd/staticcheck@latest
            staticcheck ./...
            go install golang.org/x/lint/golint@latest
            golint ./...
          fi

      - name: Run tests
        run: go test -race -vet=off ./...

  test-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            ~\AppData\Local\go-build
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-
      - run: go test -vet=off ./...
